<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Scraping With Mongoose</title>
</head>
<body>
    <div>
      <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Mongo Scraper</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
     <li class="active"><a href="#">Saved Articles</a></li>

    </ul>
    <button class="btn btn-danger navbar-btn">SCRAP NEW ARTICLES!</button>
        <button class="btn btn-danger navbar-btn">CLEAR ARTICLES</button>

  </div>
</nav>
<div>
  <h1 class="text-center">MONGO SCRAPER</h1>
  <h5 class="text-center">CNN EDITION</h5>
</div>

    {{{ body }}}
    </div>
</body>
</html>