    <div>
      <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Mongo Scraper</a>
    </div>
    <div style="float: right">      <a href="/scrape" >Home</a>
         <a href="/saved" >Saved Articles</a>
             <button class="btn btn-danger navbar-btn" id="scrapeBtn" ><a href="/scrape">SCRAPE NEW ARTICLES!</a></button>

         </div>

  </div>
</nav>
<div id="bgdImgDiv">
  <h1 class="text-center">MONGO SCRAPER</h1>
  <h5 class="text-center">NEW YORK TIMES EDITION</h5>
</div>

<div id="articleDiv">
    {{#each data}}
    <div class="container-fluid">
        <div class="card">
                <div class="card-header">
      <a data-id={{this._id}} href="https://www.nytimes.com{{this.link}}">{{this.title}}</a>
      <button class="btn btn-success saveBtn" style="float:right">Save Article</button>
    </div>
            <div clas="card-body">

    <div class="card-text">
        {{this.description}}
    </div>
    </div>
    </div>
    </div>

    {{/each}}
</div>
<footer>
    <p>New York Times Scraper</p>
</footer>

<script src="/app.js"></script>