    <div>
      <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Mongo Scraper</a>
    </div>
      <a href="/">Home</a>
         <a href="/saved">Saved Articles</a>
    <button class="btn btn-danger navbar-btn" id="scrapeBtn"><a href="/scrape">SCRAPE NEW ARTICLES!</a></button>
        <button class="btn btn-danger navbar-btn" id="clearBtn"><a href="/delete">CLEAR ARTICLES</a></button>

  </div>
</nav>
<div id="bgdImgDiv">
  <h1 class="text-center">MONGO SCRAPER</h1>
  <h5 class="text-center">NEW YORK TIMES EDITION</h5>
</div>
<div id="noarticleDiv">
  <p class="text-center">  Uh Oh. Looks like we don't have any new articles. </p>

<div >
  <p class="text-center">  What Would You Like To Do? </p>
</div>
<div class="text-center">
<p><a href="/scrape">Try scraping new articles</a></p>
<p><a href="/saved">Go to saved articles</a></p>
</div>
<footer>
    <p>New York Times Scraper</p>
</footer>



</div>
</div>
<script src="/app.js"></script>